<form {{action addPerson on="submit"}}>

  {{input placeholder="First Name" value=firstName}}
  {{input placeholder="Last Name" value=lastName}}
  {{input placeholder="Address" value=address}}
  {{input placeholder="Phone Number" value=phoneNumber}}
  <button>submit</button>


</form>

{{outlet}}
